@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");
body {
  font-family: 'Varela Round', sans-serif;
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-template-areas: "aside header" "container container" "footer footer";
  color: #1a1a4c;
  background-color: #f5fafd;
  margin: 0; }
  body .header {
    grid-area: header;
    height: 692px; }
    body .header .menu {
      display: flex;
      justify-content: end;
      background-color: #fff; }
      body .header .menu--item {
        list-style-type: none;
        display: flex;
        padding: 25px; }
        body .header .menu--item a {
          text-decoration: none;
          color: #1a1a4c; }
          body .header .menu--item a:active {
            font-weight: 600; }
    body .header--content {
      grid-template-columns: 62% 40%;
      grid-gap: 10px;
      display: grid;
      background-color: #fff;
      max-height: 216px;
      border-bottom: 11px solid #f5fafd;
      border-image-source: linear-gradient(#4d4d4d, #f5fafd);
      border-image-slice: 29; }
      body .header--content h1 {
        font-size: 60px;
        font-weight: 800;
        padding: 0 18%;
        margin: 0;
        height: 150px; }
      body .header--content img {
        background-color: #e92042;
        padding: 100px;
        border-radius: 10px;
        margin-top: 35px;
        padding: 100px; }
    body .header--skills {
      display: grid;
      grid-template-columns: repeat(12, 10%);
      grid-template-rows: repeat(12, 25px); }
      body .header--skills--item {
        width: 314px;
        display: grid;
        grid-gap: 5px;
        background-color: #fff;
        grid-template-columns: 61px 1fr;
        box-shadow: 7px 1px 13px #d3dae5;
        grid-template-columns: 61px 1fr;
        box-shadow: 1px 4px 10px #d3dae5;
        align-items: center;
        height: 85px;
        border-radius: 12px;
        padding: 5px 15px; }
        body .header--skills--item h3, body .header--skills--item p {
          margin: 10px; }
      body .header--skills #develop {
        grid-row-start: 4;
        grid-column-start: 2; }
      body .header--skills #desing {
        grid-row-start: 9;
        grid-column-start: 4; }
      body .header--skills .header--skills--img {
        grid-row-start: 11;
        grid-column-start: 8; }
  body .container {
    grid-area: container; }
    body .container--about {
      display: grid;
      grid-template-columns: repeat(12, 10%); }
      body .container--about--item {
        grid-column-start: 3;
        grid-column-end: 7;
        width: 454px;
        height: auto;
        padding: 20px 25px;
        background-color: #fff;
        grid-template-columns: 61px 1fr;
        box-shadow: 7px 1px 13px #d3dae5;
        box-shadow: 1px 4px 10px #d3dae5;
        align-items: center;
        border-radius: 12px; }
    body .container--portfolio {
      display: grid;
      grid-template-columns: repeat(12, 10%);
      margin: 80px; }
      body .container--portfolio h3 {
        grid-column-start: 5; }
      body .container--portfolio--container {
        grid-column-start: 3;
        grid-column-end: 9;
        display: grid;
        grid-template-columns: repeat(2, 50%); }
        body .container--portfolio--container--item {
          width: 454px;
          height: auto;
          align-items: center; }
          body .container--portfolio--container--item img {
            width: 300px;
            border-radius: 12px; }
  body h4, body p {
    margin: 10px; }
  body h3 {
    grid-column-start: 3;
    font-size: 40px;
    font-weight: 600;
    grid-column-end: 6;
    margin: 10px; }
  body .description {
    line-height: 2;
    color: #596188;
    font-size: 14px; }
  body .aside {
    align-content: space-between;
    grid-area: aside;
    background-color: #fff;
    display: grid;
    justify-content: center;
    box-shadow: 2px 0px 2px #d3dae5; }
    body .aside .logo {
      margin: 24px; }
    body .aside .social {
      padding: 0 0 60px 0;
      margin: 0 auto; }
      body .aside .social--item {
        padding: 15px 0;
        list-style-type: none; }
  body .footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(12, 10%);
    background-color: #e92042;
    height: 30px;
    grid-column-start: 2; }
