body {
    background-color: #f5fafd;
    margin: 20px;
    @import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
    font-family: 'Varela Round', sans-serif;
    display: grid; 
    grid-template-columns:  1fr;
    grid-template-areas: "aside "
                        "header"
                        "container "
                        "footer ";
                
    color: #1a1a4c;
    margin: 0;
}     

.header {
    grid-area: header;
    &--img {
        background-color: #e92042;
        padding: 100px;
        border-radius: 10px;
        margin-top: 0px;
        padding: 56px;
    }
    &--content {
        text-align: center;
    }
    &--skills {
        text-align: center;
        margin: 25px 0;
        display: grid;
        // grid-template-columns: repeat(12,10%);
        // grid-template-rows: repeat(12,25px);
        &--item {
            width: 314px;
            display: grid;
            grid-gap: 5px;
            background-color: #fff;
            grid-template-columns: 61px 1fr;
            box-shadow: 7px 1px 13px #d3dae5;
            grid-template-columns: 61px 1fr;
            box-shadow: 1px 4px 10px #d3dae5;
            align-items: center;
            height: 85px;
            border-radius: 12px;
            padding: 5px 15px;
            margin: 10px auto;
            h3, p{
                margin: 10px;
            }
        }

        &--img {
            height: 100px;
            margin: 0 auto;
        }
    }
} 
.menu {
    background-color: #fff;
    display: flex;
    justify-content: end; 
    &--item {
        list-style-type: none;
        display: flex;
        padding: 25px;
        a {
            text-decoration:none;
            color: #1a1a4c;
            &:active {
                font-weight: 600;
            }
        }
    }
}
.container {
    grid-area: container;
    text-align: center;
}
.description {
    line-height: 2;
    color:#596188;
    font-size: 14px;
} 
.container--about--item {
    grid-column-start: 3;
    grid-column-end: 7;
    max-width: 454px;
    height: auto;
    padding: 20px 25px;
    background-color: #fff;
    grid-template-columns: 61px 1fr;
    box-shadow: 7px 1px 13px #d3dae5;
    box-shadow: 1px 4px 10px #d3dae5;
    align-items: center;
    border-radius: 12px;
    text-align: initial;
    margin: 0 auto;
}
.aside {
    background-color: #fff;
    margin: 0px;
    align-content: space-between;
    grid-area: aside;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    box-shadow: 2px 0px 2px #d3dae5;
    grid-template-columns: 10% 1fr;
    //border-right: 4px solid #e4e9ec;
    // border-image-source: radial-gradient(#4d4d4d,#f5fafd);
    // border-image-slice: 20;
} 
.social {
    padding: 0;
    margin: 0 auto;
    &--item {
        padding: 15px 0;
        list-style-type: none;
        display: inline-block;
        margin: 10px;
    }
} 

.container--portfolio--container {
    grid-column-start: 3;
    grid-column-end: 9;
    display: grid;
    grid-template-columns: 100%;
    &--item{
        img {
        border-radius: 10px;
        }
    }
}

.footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(12,10%);
    background-color: #e92042;
    height: 30px;
    grid-column-start: 1;
}    
@media  screen and (min-width: 520px){ 

    body {
        margin: 0px;
        grid-template-columns:  120px 1fr;
        grid-template-areas: "aside header"
                            "container container"
                            "footer footer";
    }
    .container--portfolio--container {
        
        
    }
    .logo {
        margin: 24px;
    }  
    .aside {
        grid-template-columns: none;
    }
    
    .social {
        padding: 0 0 60px 0;
        margin: 0 auto;
    }
    .social--item {
        display: block;
        margin: 0px;
    }
    .header--skills--img {

        height: auto;
    }
}
@media  screen and (min-width: 895px){ 
    
    .header {
        height: 692px;
        &--content {
            grid-template-columns: 62% 40%;
            grid-gap: 10px;
            display: grid;
            background-color: #fff;
            max-height: 216px;
            border-bottom: 11px solid #f5fafd;
            border-image-source: linear-gradient(#4d4d4d,#f5fafd);
            border-image-slice: 29;
            //box-shadow: 7px 1px 13px #d3dae5;
        }
        &--skills {
            grid-template-columns: repeat(12,10%);
            grid-template-rows: repeat(12,25px);
        }
        &--img {
            margin-top: 35px;
            padding: 100px;
        }
        }
    
    #develop{
        grid-row-start: 4;
        grid-column-start: 2;
    }
    #desing{
        grid-row-start: 9;
        grid-column-start: 4;
    }
    .header--skills--img {
        grid-row-start: 11;
        grid-column-start: 8;
    }

    h1{
        font-size: 67px;
        font-weight: 800;
        margin: 0;
        height: 150px;
    }
    .container {
        &--about{
            display: grid;
            grid-template-columns: repeat(12,10%);
        }
        &--portfolio{
            
            // display: grid;
            // grid-template-columns: repeat(12,10%);
            margin: 80px auto;
            &--container{
                grid-template-columns: repeat(2,25%);
                grid-gap: 70px;
                align-content: center;
                justify-content: center;
                &--item {
                    img {
                        width: 100%;
                    }
                }
            }
            h3{
                grid-column-start: 5;
            }
        }
    }
    h4, p {
        margin: 10px;
    }
    h3 {
        grid-column-start: 3;
        font-size: 40px;                
        font-weight: 600;                
        grid-column-end: 6;                
        margin: 10px;
    }  
    
    .footer {
        grid-column-start: 2;
    }
}